.card {
    width: 200px;
    box-shadow: gray 2px 2px 6px;
    margin: 10px;
    padding-bottom: 8px;
    background-color: white;
}

.cardImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cardDescription {
    padding: 12px;
}

.price {
    color: darkred;
    font-weight: bold;
}

.chip {
    background-color: lightgreen;
    width: auto;
    padding: 4px 6px;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 12px;
}

.chipRow {
    margin-top: 12px;
}

